DATABASE_NAME=ricebowl
DATABASE_USER=ricebowl
DATABASE_PASSWORD=ricebowl
POSTGRES_PORT=5432

JWT_SECRET=replace-with-at-least-32-random-characters
JWT_EXPIRATION=PT2H
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Lax
API_PORT=8080
WEB_PORT=5173
